<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="Autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
	</configSections>
	<Autofac>
		<components>
		</components>
		<modules>
			<module type="CRG.ES.ClientAPI.EventStoreConfig, CRG.ES.ClientAPI">
				<properties>
					<property name="BasePort" value="5800" />
				</properties>
				<!--<parameters>
          <parameter name="connectionString" value="tcp;192.168.11.3;5650" />
        </parameters>-->
			</module>
		</modules>
	</Autofac>
	<appSettings>
		<add key="SuburbLookupFilename" value="In Registry D:\Dev\Group4\AIC\Data\Suburbs to Localities.csv"/>
		<add key="CDC.dotx" value="In Registry D:\Dev\Group4\AIC\Data\CDC.dotx"/>
		<add key="SeedDataDirectory" value="D:\WA\"/>
	</appSettings>
	<connectionStrings>
		<!--LOCAL-->
		<add name="Pdfs" connectionString="Data Source=(localdb)\Dev; Initial Catalog=Pdfs; Trusted_Connection=true; Integrated Security=True" providerName="System.Data.SqlClient"/>
		<!--LIVE-->
		<!--<add name="Pdfs" connectionString="Data Source=G4-Web01\SQL2005; Initial Catalog=Pdfs; Trusted_Connection=true; Integrated Security=True" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
