<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- 	Logging levels
	Trace
	Debug
	Info
	Warn
	Error
	Fatal
	-->
	<targets>
		<target name="dailyFile" xsi:type="File" fileName="Log\Info.log"
			layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"
			archiveFileName="Log\Info_${shortdate}.{##}.log"
			archiveNumbering="Sequence"
			archiveEvery="Day"
			maxArchiveFiles="30"/>
		<target name="file" xsi:type="File" fileName="Log.txt"
			layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"
			deleteOldFileOnStartup="true"/>
		<target name="console" xsi:type="ColoredConsole"
			layout="${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}" />
		<target name="email" xsi:type="Mail" html="true"
			subject="Error - ${processname} : ${message}"
			body="${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"
			to="Craig@crgsoftware.com.au"
			from="NoReply@crgsoftware.com.au"
			Encoding="UTF-8"
			useSystemNetMailSettings="true"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="console" />
		<logger name="*" minlevel="Fatal" writeTo="email" />
	</rules>
</nlog>